* {margin: 0; padding: 0; box-sizing: border-box;}
@font-face {
font-family: 'Toralfont';
src: url('ToralfontClassic.ttf');
}

html {
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #b99433 0%,#ffd35f 100%) fixed;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Helvetica';
}

#index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#index h1 {
  font-size: 72px;
}

#index form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
}

#index label, #index input {
  padding: 14px;
}

#index input:last-of-type {
  font-size: 30px;
  padding: 5px;
}

h1 {
  font-family: 'Toralfont';
}

nav select {
  background-color: #3353B9;
  color: #EEEEEE;
  padding: 5px;
  margin-right: 8%;
  border: none;
  border-radius: 5px;
}

nav select:hover {
  background-color: #EEEEEE;
  color: #3353B9;
}

nav {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #13296C;
  color: #EEEEEE;
}

nav img {
  margin: 0px 10px 0px 10px;
  width: 40px;
  margin-left: 8%;
}

nav h1 {
  color: #EEEEEE;
  margin-right: auto;
}

nav form:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

nav form select {
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
}

.list {
  background-color: white;
  width: 20%;
  height: 200px;
  border-radius: 5px;
  border-bottom-right-radius: 20px;
  margin: 5%;
}

.list h1 {
  background-color: #C52821;
  color: #EEEEEE;
  width: 100%;
  padding: 5px;
  text-align: center;
}

article content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

article content:nth-child(2n+1) {
  background-color: #FFBAB5;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer div {
  height: 225px;
  width: 275px;
  background-color: #247F43;
  color: #FFD35F;
  padding: 25px;
  border-radius: 25px;
  margin-bottom: 45px;
  margin-top: 45px;
}

header {
  display: flex;
  align-items: center;
}

header img {
  height: 100px;
  margin: 15px;
}

header h1 {
  font-size: 50px;
  font-weight: 900;
}
